.elements__cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(282px, 1fr));
    grid-template-rows: 1fr 1fr;
    gap: 20px 17px;
    list-style: none;
    width: 100%;
    margin: 0;
    padding: 0;
  }
  
  @media screen and (max-width: 1280px) {
    .elements__cards {
      margin: auto;
    }
  }
  
    @media screen and (max-width: 618px) {
      .elements__cards {
        margin: auto;
      }
    }